@{
    ViewData["Title"] = "Home";
}
<!DocType html>

<html>

    <head>
        <meta charset="utf-8"/>
        <title>@ViewData["Title"]</title>


    </head>

    <div>
        <h1>Welcome to the Game Database</h1>
        <p>This project tracks videogames and their platforms, developers, and genres.</p>
    </div>

</html>