@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1>This is our Web Server Application Development Final Project!</h1>
<h2>This application tracks video games, their genres, and their developers.</h2>
</div>
