@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>
        .container 
        {
            padding: 20px;
            max-width: 800px;
            margin: auto;
        }

        .team-members 
        {
            margin-top: 20px;
        }

        .member 
        {
            border-bottom: 1px solid #ddd;
            padding: 15px 0;
            margin-bottom: 20px;
        }

            
        .member h2 
        {
            font-size: 24px;
            margin-bottom: 5px;
        }

        .member p 
        {
            margin: 5px 0;
        }<></>
    </style>
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <div class="team-members">
            <div class="member">
                <h2>Ethan Beach</h2>
                <p><strong>Role:</strong> UI/UX Designer</p>
                <p>Junior at the University of Cincinnati majoring in Information Technology and Cybersecurity. Hobbies are Video Games, Hockey, and Music.</p>
            </div>

            <div class="member">
                <h2>Andrew Grosko</h2>
                <p><strong>Role:</strong> Developer</p>
                <p>Fourth year at the Univeristy of Cincinnati majoring in Information Technology with a focus in Software Development and Game Development.
                    Hobbies include video games, music, and playing guitar.</p>
                
            </div>

            <div class="member">
                <h2>Nathan Dahlquist</h2>
                <p><strong>Role:</strong> Developer</p>
                <p>
                    Third year at the University of Cincinnati majoring in Information Technology with a focus on Software Develpment and Data Technologies. I also do video game creation.
                    My hobbies include playing video games, collecting vintage video games, and making music.
                </p>
            </div>
        </div>
    </div>
</body>
</html>