@model GameGenre

@{
    ViewBag.Title = "Delete Genre";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Genre</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Delete</button>

    <a asp-controller="Home" asp-action="Genres" class="btn btn-primary">Cancel</a>
</form>